# Ignore the venv folders and .idea folders
venv/
.idea/
.venv/
# Ignore the __pycache__ folder because it is not necessary for running the project
# The interpreter creates it automatically
__pycache__/
*.iml