html {
    font-size: 10px;
}
body {
    margin: 0;
    background-color: #181818;
    min-height: 100vh;
}
.dashboard-title {
    font-size: 2rem;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    box-shadow: 0 0.01rem 0.75rem 0.1rem #242323;

}
.dashboard-title h1 {
    margin: 0rem;
    font-weight: 100;
}


.card-body {
    background-color: #2D2D2D;
    border: 1px solid;
    border-radius: 0.4rem;  
    padding: 0;
}

/*Card header*/
.card-title {
    min-height: 4.6vh;
    background-color: #373737;
    border-bottom: 1px solid;
    padding: 0.6rem 0.6rem 0.6rem 1.6rem;
    font-size: 1.4rem;
}

.card-title h2 {
    margin: 0.5rem 0.8rem;
    color: white;
    font-weight: normal;
}

/*Color around cards*/
.default-border-color {
    border-color: #555555; 
}

.card-title label {
    color: #FFFFFF;
    font-size: 2.6rem;
}

.dev-color-1 {
    background-color: red;
    min-height: 30vh;
}

.dev-color-2 {
    background-color: green;
    min-height: 30vh;
}

.dev-color-3 {
    background-color: white;
    min-height: 10vh;
    margin-bottom: 1rem;
}
.card-container {
    padding: 2rem 3.78rem;
}

/*Margin between each card row*/
.dashboard-card {
    margin-bottom: 1.75rem;
}
.dashboard-card-left {
    padding-right: 2.45rem;
}

.dashboard-card-right {
    padding-left: 2.45rem;
}
.dev-color-4 {
    background-color: green;
    min-height: 10vh;
    margin-bottom: 1rem;

}


/*
    Adjust gauge height
*/
div.sc-iwsKbI{
    height: 31vh;
}

.inter-card-title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.inter-title h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.light-intensity-icon {
    padding: 1rem 0;
}

.light-intensity-icon img {
    max-height: 10vh;
    
}

.text-align-center {
    text-align: center;
}

.intensity-bar {
    margin: 1rem auto;
}

.image-icon, #fan-icon-image {
    min-height: 15.5vh;
    max-height: 15.5vh;
}

.image-icon-div {
    padding: 1rem 0;
}

#positioned-toast {
    right: 50%;
    transform: translate(50%, 0);
    top: 87%;
}